.window{
    border: 1px solid black;
    border-radius: 5px;
    filter: drop-shadow(gray 0px 0px 15px);
}
.window-header{
    background-color: darkolivegreen;
    border-radius: 4px 4px 0 0;
}
.window-content{
    background-color: lawngreen;
    border-radius: 0 0 4px 4px;
}
.shell{
    background-color: darkseagreen;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(5rem,5rem));
    grid-template-rows: repeat(auto-fill, minmax(5rem,5rem));
    grid-auto-flow: column;
}
.app-button>button{
    height: calc(100% - 1rem);
    width: 100%;
}
.app-title{
    height: 1rem;
    font-size: 0.8rem;
    margin: 0 auto;
}