#container{
    margin: 0vh 20vw;
    height: 100%;
    cursor: none;
}
#cursor {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 999;
    margin: 0vh 20vw;
}
.window{
    border: 1px solid black;
    border-radius: 5px;
    filter: drop-shadow(gray 0px 0px 15px);
}
.window-header{
    background-color: darkolivegreen;
    border-radius: 4px 4px 0 0;
}
.window-content{
    background-color: lawngreen;
    border-radius: 0 0 4px 4px;
}
.task-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.125rem;
    z-index: 99;
    background-color: springgreen;
    margin: 0vh 20vw;
}
.task-list{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    align-content: center;
}
.task{
    margin: 0.25rem;
}
.task > button{
    height: 100%;
    background-color: lightgreen;
}
.task-select{
    margin: 0.25rem;
}
.task-select > button{
    height: 100%;
    background-color: seagreen;
}
.shell-task{
    height: 100%;
    width: 0.625rem;
    position: absolute;
    right: 0;
}
.shell-task > button{
    height: 100%;
    width: 0.625rem;
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid black;
}
.shell{
    background-color: darkseagreen;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(5rem,5rem));
    grid-template-rows: repeat(auto-fill, minmax(5rem,5rem));
    grid-auto-flow: column;
    margin: 0vh 20vw;
}
.app-button>button{
    height: calc(100% - 1rem);
    width: 100%;
}
.app-title{
    height: 1rem;
    font-size: 0.8rem;
    margin: 0 auto;
}