body {
    margin: 0;
    overflow: hidden
}

.king {
    display: flex;
    height: 100vh;
}

.outside {
    height: 100%;
    width: 20vw;
    z-index: 10;
    background-color: lightgreen;
}

#container{
    position: relative;
    height: 100%;
    width: 100%;
    cursor: none;
    overflow: hidden;
    margin: 0 auto;
}
#cursor {
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 999;
}
.shell{
    background-color: darkseagreen;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(5rem,5rem));
    grid-template-rows: repeat(auto-fill, minmax(5rem,5rem));
    grid-auto-flow: column;
    height: 100%;
    width: 100%;
    margin : 0 auto;
}
.app-button>button{
    height: calc(100% - 1rem);
    width: 100%;
    cursor: none;
}
.app-title{
    height: 1rem;
    font-size: 0.8rem;
    margin: 0 auto;
}
.display {
    width: 50vw;
}